body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  height: 100%;
}
video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: white;
  font-family: monospace;
  width: 90%;
  text-align: center;
}
h2 span {
  font-size: 12vw;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 15px;
  position: relative;
  /* make this for the animation gone come from the top */
  transform: translateY(-100vh);
  animation: fall 3.5s forwards;
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}

h2 span:nth-child(2) {
  animation-delay: .7s;
}

h2 span:nth-child(3) {
  animation-delay: 1.4s;
}

h2 span:nth-child(4) {
  animation-delay: 2.1s;
}

h2 span:nth-child(5) {
  animation-delay: 2.8s;
}

h2 span:nth-child(6) {
  animation-delay: 3.5s;
}
